<div class="product-card-main">
  <div class="image-div">
    <img
      [src]="product.image"
      loading="lazy"
      alt="Product Image"
      class="product-img"
    />
  </div>
  <div class="product-title">{{ product.title }}</div>
  <div class="product-desc">{{ product.description }}</div>
  <div
    style="display: flex; justify-content: space-between; align-items: center"
  >
    <div class="product-price">$ {{ product.price }}</div>
    <div class="product-view-link" [routerLink]="['/product', product.id]">
      View Product Details
    </div>
  </div>
</div>
