.welcome-main {
  position: absolute;
  width: 30%;
  height: 40vh;
  padding: 15px;
  top: 25%;
  left: 34%;
  background-color: rgb(209, 209, 209);
  border: 2px solid gray;
  box-shadow: 3px 3px 30px black;
  border-radius: 8px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  p {
    font-size: 1.2rem;
    font-weight: 600;
  }

  button {
    width: 80%;
    margin: auto;
    padding: 8px 32px;
    border: none;
    border-radius: 8px;
    background-color: rgb(255, 36, 73);
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
  }
}

.home-main {
  width: 80%;
  background-color: rgb(209, 209, 209);
  margin: 5% auto;
  text-align: center;
  padding: 80px 50px 50px 50px;
  height: 60vh;
  border-radius: 8px;

  .input-div {
    display: flex;
    flex-direction: column;
    gap: 20px;

    input {
      width: 30%;
      margin: auto;
      padding: 12px 32px;
      border: none;
      border-radius: 8px;
      font-size: 1.2rem;
      font-weight: 500;
      outline: none;
    }

    button {
      width: 15%;
      margin: auto;
      padding: 8px 32px;
      border: none;
      border-radius: 8px;
      background-color: rgb(255, 36, 73);
      color: white;
      font-size: 1.2rem;
      font-weight: 600;
      cursor: pointer;
    }
  }
}

.timer-title {
  margin: 50px 0 0 0;
  font-size: 1.3rem;
  font-weight: 600;
}
