<div class="home-main">
  <div class="search-main">
    <div class="search-text">GitHub User Search</div>
    <input
      type="text"
      class="search-input"
      [formControl]="searchControl"
      #searchInput
    />
  </div>
  <div class="loader-main" *ngIf="loading">
    <div class="loader"></div>
  </div>
  <div class="user-details-main" *ngIf="!loading && user != null && !noUser">
    <div
      class="user-avtar"
      [ngStyle]="{
        'background-image': 'url(' + user.avatar_url + ')'
      }"
    ></div>
    <div class="user-details">
      <div>{{ user?.login }}</div>
      <div>Followers : {{ user?.followers }}</div>
      <div>Following : {{ user?.following }}</div>
      <div>Public Repos : {{ user?.public_repos }}</div>
      <div class="view-profile">
        <a [href]="user?.html_url">View Profile</a>
      </div>
    </div>
  </div>
  <div class="user-not-found" *ngIf="!loading && noUser">User Not Found</div>
  <div class="no-input" *ngIf="!loading && noInput">
    Search for GitHub User...
  </div>
</div>
