.task-item-main {
  border: 1px solid darkblue;
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  gap: 10px;

  .status-priority {
    position: absolute;
    top: 5px;
    left: 10px;
    display: flex;

    .high {
      color: red;
    }

    .medium {
      color: blue;
    }

    .low {
      color: green;
    }

    p {
      padding: 5px;
      margin: 0;
      font-size: 0.8rem;
    }
  }

  .task-detail {
    width: 40%;
    padding: 20px 0 0 0;
    .task-title {
      font-size: 1.3rem;
      font-weight: 600;
      color: black;
    }

    .task-desc {
      font-size: 0.8rem;
      color: gray;
      font-weight: 500;
      display: flex;
      align-items: center;
      gap: 5px;

      span {
        color: black;
        font-size: 1.5rem;
      }
    }
  }

  .task-btns {
    display: flex;
    gap: 10px;
    flex: 1;
    justify-content: flex-end;

    .update-btn {
      background-color: white;
      border: 2px solid gray;
      border-radius: 8px;
      padding: 12px 32px;
      color: rgb(90, 90, 90);
      font-weight: 600;
      cursor: pointer;

      &:hover {
        color: darkblue;
        border: 2px solid darkblue;
      }
    }

    .delete-btn {
      background-color: white;
      border: 2px solid red;
      border-radius: 8px;
      padding: 12px 32px;
      color: red;
      font-weight: 600;
      cursor: pointer;

      &:hover {
        color: white;
        background-color: red;
      }
    }
  }
}

.mark-as-complete-label {
  color: darkblue;
  font-size: 1rem;
  font-weight: 600;
}

.update-main {
  position: fixed;
  background-color: white;
  box-shadow: 3px 3px 30px gray;
  border-radius: 30px;
  border: 1px solid darkblue;
  height: 60vh;
  width: 45%;
  z-index: 1;
  top: 20%;
  left: 25%;
  padding: 15px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }

  form {
    margin: 20px auto;
    width: 95%;
    text-align: center;

    .task-title,
    .task-dueDate,
    .task-assignedTo,
    .task-priority,
    .task-status,
    .task-desc {
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto 10px auto;
      label {
        width: 20%;
        font-size: 1.1rem;
        font-weight: 500;
        margin-right: 5px;
        display: block;
      }
      input {
        width: 60%;
        padding: 10px 20px;
        font-size: 1rem;
        font-weight: 500;
        border: none;
        border-radius: 8px;
        background-color: rgb(235, 234, 234);
        outline: none;
      }
      textarea {
        width: 60%;
        padding: 10px 20px;
        font-size: 1rem;
        font-weight: 500;
        border: none;
        border-radius: 8px;
        background-color: rgb(235, 234, 234);
        outline: none;
      }
    }

    .update-btn-main {
      display: flex;
      gap: 10px;
      margin-top: 25px;
      width: 100%;
      justify-content: center;

      button {
        padding: 8px 32px;
        border: 1px solid darkblue;
        border-radius: 8px;
        font-size: 1.2rem;
        font-weight: 600;
        color: darkblue;
        background-color: white;
        cursor: pointer;
      }
    }
  }
}
