.product-cards-main {
  display: flex;
  flex-wrap: wrap;
  padding-top: 100px;
}

.loader-main {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10% 0;
}

.loader {
  width: 35px;
  aspect-ratio: 1;
  --_g: no-repeat radial-gradient(farthest-side, #579ce0 94%, #579ce000);
  background: var(--_g) 0 0, var(--_g) 100% 0, var(--_g) 100% 100%,
    var(--_g) 0 100%;
  background-size: 40% 40%;
  animation: l38 0.8s infinite;
}
@keyframes l38 {
  100% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0;
  }
}

.viewport {
  height: 600px; /* or any height */
  width: 100%;
  border: 1px solid #ccc;
  overflow: auto;
}

.cdk-virtual-scroll-orientation-vertical .cdk-virtual-scroll-content-wrapper {
  display: flex !important;
}

.product-card-main {
  width: 295px;
  margin: 20px;
  border-radius: 20px;
  padding: 15px;
  border: 1px solid gray;

  &:hover {
    box-shadow: 3px 3px 30px gray;
  }
}

.image-div {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid black;
  padding: 10px;
}

.product-img {
  width: 200px;
  height: 200px;
}

.product-title {
  padding: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 90%;
  display: block;
}

.product-desc {
  font-size: 1rem;
  color: gray;
  display: -webkit-box;
  -webkit-line-clamp: 3; // Number of lines
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 10px;
}

.product-price {
  font-size: 1.3rem;
  font-weight: 600;
  padding: 10px;
}

.product-view-link {
  color: rgb(56, 56, 56);
  font-size: 1rem;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}
