.visit-btn {
  background-color: aqua;
  color: black;
  border: none;
  border-radius: 8px;
  padding: 12px 32px;
  font-size: 20px;
  font-weight: 700;
  margin: auto;
  //   width: 20%;
}

.welcome-text {
  color: black;
  font-size: 30px;
  font-weight: 700;
  width: 100%;
  text-align: center;
  margin: 40px 0;
}

.btn-div {
  display: flex;
  justify-content: center;
}
